body {
  font-family: crc55, sans-serif; }

header {
  color: #000;
  height: 400px;
  font-size: 2em;
  background: url("../img/bg1.jpg") fixed center no-repeat;
  background-size: cover; }

header h1 {
  font-size: 1.1em;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

header h2 {
  font-size: 1em;
  padding: 0;
  color: #ffc107;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.act {
  font-size: 1.1em;
  color: #ffffff;
  line-height: 1em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.scooter {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0px 0px 45px 5px rgba(255, 255, 255, 0.4);
  box-shadow: 0px 0px 45px 5px rgba(255, 255, 255, 0.4); }

.adver {
  background: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 45px 5px rgba(255, 255, 255, 0.7);
  -moz-box-shadow: 0px 0px 45px 5px rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 45px 5px rgba(255, 255, 255, 0.7); }

.contact_from {
  margin-top: 80px; }

/* intercolor */
.intercolor {
  background: #61D7A4;
  height: 30px; }

/* video */
.video {
  background: #218359; }

.video-area {
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  border: 20px solid #fff;
  border-radius: 20px;
  height: 300px;
  margin: 30px;
  -webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08); }

.video-area .video-play-btn a {
  width: 80px;
  height: 80px;
  background-color: #fb397d;
  color: #fff;
  text-align: center;
  display: block;
  font-size: 36px;
  line-height: 80px;
  padding-left: 5px;
  border-radius: 50%;
  top: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3; }

/* info */
.info {
  padding: 30px;
  background: #00AF64; }

.info .item {
  padding: 30px; }

.info h3 {
  font-family: 'crc55';
  font-size: 26px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.info h4 {
  font-family: 'crc55';
  font-size: 20px;
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

/* slider */
.slider {
  padding: 30px;
  background: #007241;
  min-height: 200px; }

.app_slides {
  padding: 0 6%; }

.app_slides .slide {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -webkit-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85); }

/* footer */
footer {
  padding: 30px;
  color: #eeeeee;
  font-size: 16px;
  background: #007241; }

.cta-text {
  font-size: 1.6em; }

#scrollUp {
  bottom: 0;
  font-size: 24px;
  right: 30px;
  width: 50px;
  background-color: #fb397d;
  color: #fff;
  text-align: center;
  height: 50px;
  line-height: 50px; }
