$green-one:   #00AF64;
$green-two:   #218359;
$green-three: #007241;
$green-four:  #36D792;
$green-five:  #61D7A4;

$p30: 30px;

body { font-family: crc55, sans-serif; }

header {
	color:#000;
    height: 400px;
	font-size: 2em;
	background: url('../img/bg1.jpg') fixed center no-repeat;
	background-size: cover;
}

section { }

/* intercolor */
.intercolor {
	background: $green-five;
	height: 30px;
}

/* video */
.video {
	background: $green-two;
}
.video-area {
	position: relative;
	z-index: 1;
	background-position: center center;
	background-size: cover;
	border: 20px solid #fff;
	border-radius: 20px;
	height: 300px;
	margin: $p30;
	-webkit-box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
	box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
}
.video-area .video-play-btn a {
	width: 80px;
	height: 80px;
	background-color: #fb397d;
	color: #fff;
	text-align: center;
	display: block;
	font-size: 36px;
	line-height: 80px;
	padding-left: 5px;
	border-radius: 50%;
	top: 50%;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 3;
}

/* info */
.info {
	padding: $p30;
	background: $green-one;
}
.info .item { padding: $p30; }
.info h3 {
	font-family: 'crc55';
	font-size: 26px;
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.info h4 {
	font-family: 'crc55';
	font-size: 20px;
	color: #ffffff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* slider */
.slider {
	padding: $p30;
	background: $green-three;
	min-height: 200px;
}

.app_slides  { padding: 0 6%; }

.app_slides .slide {
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-webkit-transform: scale(0.85);
	-ms-transform: scale(0.85);
	transform: scale(0.85);
}

/* footer */
footer {
	padding: $p30;
	color: #eeeeee;
	font-size: 16px;
	background: $green-three;
}

#scrollUp {
	bottom: 0;
	font-size: 24px;
	right: 30px;
	width: 50px;
	background-color: #fb397d;
	color: #fff;
	text-align: center;
	height: 50px;
	line-height: 50px;
}